$white: #fff !default;
$black: #000 !default;
$main: #773377 !default;
$success: #629b62 !default;
$warning: #ff7733 !default;
$danger: #773333 !default;
$theme: #0ba14b !default;
$themeAlt: #005dac !default;

$blackText: lighten($black, 20%);
$lightestBlack: rgba($black, .1);
$light: darken($white, 7.5%);

$colors: ('main':$main, 'success':$success, 'warning':$warning, 'danger':$danger);

$frow-enable-buttons: false;